// ==========================================================================
//
// CONTAINERS
//
// Description: standard structures for dividing pages into "sections"
//
// ==========================================================================

@mixin container($max-width: 1200px) {
    @include clearfix;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: rem($max-width);
    width: $container-width;
}





// ==========================================================================
// # BASE
// ==========================================================================

.container {
    @include container($max-width: 1100px);
}





// ==========================================================================
// # REDUCED
// ==========================================================================

.container--reduced {
    max-width: 1200px * 0.7;
}





// ==========================================================================
// # TINY
// ==========================================================================

.container--tiny {
    max-width: 1200px * 0.4;
}





// ==========================================================================
// # PADDED
// ==========================================================================

.container--padded {
    padding-bottom: $base-line-height*1.5;
    padding-top: $base-line-height*1.5;

    > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}





// ==========================================================================
// # EXTENDED
// ==========================================================================

.container--extended,
.container--extend {
    width: auto;
}
