// ==========================================================================
//
// PLAY/PAUSE
//
// Description: a nice play pause button in pure CSS
//
// ==========================================================================

$size:              64px;
$ratio:             1.2;
$transition-time:   0.3s;

$background:#f9f9f9;
$foreground: #fff;



// # BASE
// ==========================================================================
.play-pause {
    background-color: transparent;
    border: 4px solid $foreground;
    border-radius: 400px;
    display: block;
    height: $size;
    opacity: 0.5;
    position: relative;
    text-indent: -999em;
    transition: opacity $transition-time;
    width: $size;

    &:hover,
    &:focus { opacity: 1; }

    &:before,
    &:after {
        content: "";
        display: block;
        left: 50%;
        margin-left: 5%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:before {
        border-bottom: $size/4 solid transparent;
        border-left: ($size*$ratio)/4 solid $foreground;
        border-top: $size/4 solid transparent;
    }

    &.is-playing,
    &--playing {
        &:before,
        &:after {
            background-color: $foreground;
            border: 0;
            height: 50%;
            width: 6px;
        }

        &:before { margin-left: -6px; }

        &:after { margin-left: 6px; }
    }
}
