// ==========================================================================
//
// AREA
//
// Description: Style for standard stat block
//
// ==========================================================================


// ==========================================================================
// # BASE
// ==========================================================================

// .stat {}


.stat__figure { @include heading(bravo); }


.stat__label { display: block; }





// ==========================================================================
// # MODIFIER: INLINE
// ==========================================================================

.stat--inline {
    .stat__figure { display: inline-block; }

    .stat__label {
        display: inline-block;
        padding-left: $quarter-spacing-unit;
    }
}
