// ==========================================================================
//
// TEXT MODULE
//
// Description: Styles for longform content sections.
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.text-module {
    ul,
    ol {
        list-style-position: outside;
        margin-left: $half-spacing-unit;
        padding: 0;
    }

    li {
        margin-bottom: $quarter-spacing-unit;
    }

    p {
        margin: $quarter-spacing-unit 0;

        &:last-of-type { margin-bottom: 0; }
    }
}





// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
